<template>
  <div>
    <p><b>Name: </b> {{ contact.name }}</p>
    <p><b>Email: </b> {{ contact.email }}</p>
    <p><b>Phone Number: </b> {{ contact.phone_number }}</p>
    <p><b>Cell Number: </b> {{ contact.cell_number }}</p>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ContactsShow',

    data () {
      return {
        contact: {
          name: '',
          email: '',
          phone_number: '',
          cell_number: ''
        }
      }
    },

    created () {
      axios.get('http://localhost:8000/api/contacts/' + this.$route.params.id)
        .then(response => {
          this.contact = response.data
        })
    }
  }
</script>
