<template>
  <div>
    <div>
      {{ message }}
    </div>
    <form v-on:submit.prevent="save">
      <p>Name: <input type="text" name="name" v-model="name"></p>
      <p>Email: <input type="text" name="email" v-model="email"></p>
      <p>Phone Number: <input type="text" name="phone_number" v-model="phone_number"></p>
      <p>Cell Number: <input type="text" name="cell_number" v-model="cell_number"></p>
      <p><input type="submit" value="Create"></p>
    </form>
  </div>
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'ContactsCreate',

    data () {
      return {
        message: '',
        name: '',
        email: '',
        phone_number: '',
        cell_number: ''
      }
    },

    methods: {
      save () {
        axios.post('http://localhost:8000/api/contacts', {
          name: this.name,
          email: this.email,
          phone_number: this.phone_number,
          cell_number: this.cell_number
        })
        .then(response => {
          this.message = response.data
          this.name = ''
          this.email = ''
          this.phone_number = ''
          this.cell_number = ''
          this.$router.push('/contacts')
        })
        .catch(error => {
          this.message = error.data
        })
      }
    }
  }
</script>
