<template>
  <div id="app">
    <div class="header">
      <h1>VueJS</h1>
      <p>
        <router-link to="/">Home</router-link>
        <router-link to="/contacts">Contacts</router-link>
      </p>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
.header {
  text-align: center;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
